<% if Current.user%>

  <a href="<%= user_path(Current.user.id) %>" class="m-1 btn btn-secondary" role="button"><%= Current.user.userName %></a>
  <a href="<%= logout_path %>" class="m-1 btn btn-danger" role="button" data-method="delete">Log out</a>

<% else %>

  <a href="<%= new_user_path %>" class="m-1 btn btn-primary" role="button">Sign up</a>
  <a href="<%= new_session_path %>" class="m-1 btn btn-white" role="button">Log in</a>

<% end %>

